@model DogGo.Models.ViewModels.DogViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Breed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Breed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dog.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dog.Notes)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Walker
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Date
                </th>
                <th>
                    Confirmed
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Walk walk in Model.Walks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => (walk.walker.Name))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => (walk.Duration)) mins
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => (walk.Date))
                    </td>
                    <td>
                        @if (walk.Accepted == true)
                        {
                            <p>Yes</p>
                        }
                        else
                        {
                            <p>Pending</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Dog.Id }) |
    <p>
        @Html.ActionLink("Return to Profile", "Index", "Owners")
    </p>
</div>
