@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <hr />
    <div>
        @foreach (Walk walk in Model.Walks)
        {
            if(walk.Accepted != true)
            {
                <div>
                    <div>@walk.owner.Name</div>
                    <div>@walk.Dog.Name</div>
                    <div>@walk.Date</div>
                    <p>
                        @Html.ActionLink("Confirm", "Confirm", "Walk", new { id = walk.Id })
                    </p>
                </div>
            }
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Client
                </th>
                <th>
                    Dog
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Completed
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Walk walk in Model.Walks)
            {
                if (walk.Accepted == true)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => walk.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => walk.owner.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => walk.Dog.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => (walk.Duration)) mins
                        </td>
                        <td>
                            @if (walk.Completed == true)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                @Html.ActionLink("Complete", "Edit", "Walk", new { id = walk.Id })
                            }
                        </td>
                    </tr>
                }
             }
        </tbody>
    </table>
</div>