@model DogGo.Models.OwnerDogs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner.Neighborhood.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner.Neighborhood.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner.Phone)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dogList)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Dog dog in Model.dogList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => dog.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
